<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catMobileApps catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <li><span class="filter" data-filter="catMobileApps">Mobile Apps</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/2.png" rel="portfolio" title="PT. Softindo Computech">

                        <img src="assets/images/portfolio/2.png" alt="PT. Softindo Computech" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">PT. Softindo Computech</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/5.png" title="Sistem Informasi Goegrafis Sederhana" rel="portfolio">
                        <img src="assets/images/portfolio/5.png" alt="Sistem Informasi Goegrafis Sederhana" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Sistem Informasi Goegrafis Sederhana</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/11.png" title="Website Profil Desa Balansiku" rel="portfolio">
                        <img src="assets/images/portfolio/11.png" alt="Website Profil Desa Balansiku" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Website Profil Desa Balansiku</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/8.png" title="Aplikasi Pendaftaran Online RSU Tangerang Selatan" rel="portfolio">
                        <img src="assets/images/portfolio/8.png" alt="Aplikasi Pendaftaran Online" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Aplikasi Pendaftaran Online</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/7.png" rel="portfolio" title="Company Profile & CMS">
                        <img src="assets/images/portfolio/7.png" alt="Company Profile & CMS" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Company Profile & CMS</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/3.png" rel="portfolio" title="Website SMK TI Pembangunan Cimahi">
                        <img src="assets/images/portfolio/3.png" alt="Website SMK TI Pembangunan Cimahi" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Website SMK TI Pembangunan Cimahi</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/4.png" rel="portfolio" title="Toko Online Sederhana">
                        <img src="assets/images/portfolio/4.png" alt="Toko Online Sederhana" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Toko Online Sederhana</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/6.png" rel="portfolio" title="CMS dengan Angular.js dan Codeigniter">
                        <img src="assets/images/portfolio/6.png" alt="CMS dengan Angular.js dan Codeigniter" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">CMS dengan Angular.js dan Codeigniter</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/10.png" rel="portfolio" title="Desa Broadband Kominfo">
                        <img src="assets/images/portfolio/10.png" alt="Desa Broadband Kominfo" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Desa Broadband Kominfo</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/12.png" rel="portfolio" title="Website Profil Desa Brecek">
                        <img src="assets/images/portfolio/12.png" alt="Website Profil Desa Brecek" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Website Profil Desa Brecek</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/1.png" rel="portfolio" title="Aplikasi Industri Kecil Non Formal Kota Bandung">
                        <img src="assets/images/portfolio/1.png" alt="Aplikasi Industri Kecil Non Formal Kota Bandung" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Aplikasi Industri Kecil Non Formal Kota Bandung</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="assets/images/portfolio/9.png" title="Website Profil Prodi Sistem Informasi Universitas Widyatama" rel="portfolio">
                        <img src="assets/images/portfolio/9.png" alt="Website Profil Prodi SI" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Website Profil Prodi SI</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->