<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Resume - Personal Info</h1>

    <div class="row">

        <!-- .resume-right -->
        <div class="col-md-6">

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="85%">
                    <div class="skillbar-title"><span>PHP</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-title"><span>MySQL</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>Laravel</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Codeigniter</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="20%">
                    <div class="skillbar-title"><span>Ruby on Rails</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">20%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>HTML</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>CSS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>Jquery</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Angular.js</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title"><span>React</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>NodeJs</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>Linux</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Designs skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="55%">
                    <div class="skillbar-title"><span>Photoshop</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">55%</div>
                </div>

                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="20%">
                    <div class="skillbar-title"><span>Illustrator</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">20%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Language Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>Indonesian</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="85%">
                    <div class="skillbar-title"><span>Javanese</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">85%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-title"><span>Sundanese</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">65%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="30%">
                    <div class="skillbar-title"><span>English</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">30%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Office Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>MS Excel</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title"><span>MS Word</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title"><span>Powerpoint</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Hobbies Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">

                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                    <div class="skillbar-title"><span>Sport</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">95%</div>
                </div>
                <!-- /.skillbar -->
            </div>

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" href="#">
                <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
            </a>
            <!-- /.download_resume -->

        </div>
        <!-- /.resume-right -->

        <!-- .resume-left -->
        <div class="col-md-6 resume-left">
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Web Developer (Internship)<span class="duration" data-toggle="tooltip" title="January - April"><i class="fa fa-calendar color"></i> 2015 - 2015</span></h5>
                    <h6><span class="fa fa-briefcase"></span> D&amp;X Company</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                </li>
                <li>
                    <h5>Front-End Developer <span class="duration" data-toggle="tooltip" title="May - December"><i class="fa fa-calendar color"></i> 2015 - 2015</span></h5>
                    <h6><span class="fa fa-briefcase"></span> PT. Softindo Computech</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                </li>
                <li>
                    <h5>Fullstack Web Developer <span class="duration" data-toggle="tooltip" title="December - June"><i class="fa fa-calendar color"></i> 2016 - 2017</span></h5>
                    <h6><span class="fa fa-briefcase"></span> PT. Aegis Ultima Teknologi</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                </li>
                <li>
                    <h5>Fullstack Developer <span class="duration" data-toggle="tooltip" title="June - Present"><i class="fa fa-calendar color"></i> 2017 - Present</span></h5>
                    <h6><span class="fa fa-briefcase"></span> PT. OSN Indonesia</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                </li>

            </ul>
            <!-- /.attributes -->
            <br>

            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Formal Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Primary School <span class="duration"><i class="fa fa-calendar color"></i> 2003 - 2009</span></h5>
                    <h6><span class="fa fa-book"></span> SD Negeri 2 Karangnongko</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                </li>
                <li>
                    <h5>Junior High School <span class="duration"><i class="fa fa-calendar color"></i> 2009 - 2012</span></h5>
                    <h6><span class="fa fa-book"></span> Mts Negeri Boyolali</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                </li>
                <li>
                    <h5>Senior High School <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                    <h6><span class="fa fa-book"></span> SMK Teknologi Industri Pembangunan Cimahi</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>

            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Non-Formal Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>“Technology Of Computer Engineering” <span class="duration"><i class="fa fa-calendar color"></i> 2014</span></h5>
                    <h6><span class="fa fa-university"></span> Unikom Bandung</h6>
                    <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
                </li>
                <li>
                    <h5>“Internet of Things Create Smarter Cities” <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                    <h6><span class="fa fa-university"></span> Politeknik Negeri Bandung</h6>
                    <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>

            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Awards</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Second Place <span class="duration"><i class="fa fa-calendar color"></i> 2015</span></h5>
                    <h6><span class="fa fa-trophy"></span> Cipta Web Dinamik Upi</h6>
                    <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
                </li>
                <li>
                    <h5>Second Place <span class="duration"><i class="fa fa-calendar color"></i> 2015</span></h5>
                    <h6><span class="fa fa-trophy"></span> LKS Category Web Design</h6>
                    <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
                </li>

            </ul>
            <!-- /.attributes -->
            <br>

        </div>
        <!-- /.resume-left -->
    </div>

    <div style="clear: both"></div>

</div>
<!-- End .resume -->